[class^="wpg-container"] {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  box-sizing: border-box; }

.wpg-container--gutter {
  grid-gap: 1rem; }

[class^="wpg-block"] {
  overflow: hidden;
  display: grid;
  grid-row: auto / span 1;
  grid-column: auto / span 1; }

.wpg-block--raw-1 {
  grid-row: auto/span 1; }

.wpg-block--raw-2 {
  grid-row: auto/span 2; }

.wpg-block--raw-3 {
  grid-row: auto/span 3; }

.wpg-block--raw-4 {
  grid-row: auto/span 4; }

.wpg-block--raw-5 {
  grid-row: auto/span 5; }

.wpg-block--raw-6 {
  grid-row: auto/span 6; }

.wpg-block--raw-7 {
  grid-row: auto/span 7; }

.wpg-block--raw-8 {
  grid-row: auto/span 8; }

.wpg-block--raw-9 {
  grid-row: auto/span 9; }

.wpg-block--raw-10 {
  grid-row: auto/span 10; }

.wpg-block--raw-11 {
  grid-row: auto/span 11; }

.wpg-block--raw-12 {
  grid-row: auto/span 12; }

.wpg-block--raw-13 {
  grid-row: auto/span 13; }

.wpg-block--raw-14 {
  grid-row: auto/span 14; }

.wpg-block--raw-15 {
  grid-row: auto/span 15; }

.wpg-block--raw-16 {
  grid-row: auto/span 16; }

.wpg-block--raw-17 {
  grid-row: auto/span 17; }

.wpg-block--raw-18 {
  grid-row: auto/span 18; }

.wpg-block--raw-19 {
  grid-row: auto/span 19; }

.wpg-block--raw-20 {
  grid-row: auto/span 20; }

.wpg-block--raw-21 {
  grid-row: auto/span 21; }

.wpg-block--raw-22 {
  grid-row: auto/span 22; }

.wpg-block--raw-23 {
  grid-row: auto/span 23; }

.wpg-block--raw-24 {
  grid-row: auto/span 24; }

.wpg-block--raw-25 {
  grid-row: auto/span 25; }

.wpg-block--raw-26 {
  grid-row: auto/span 26; }

.wpg-block--raw-27 {
  grid-row: auto/span 27; }

.wpg-block--raw-28 {
  grid-row: auto/span 28; }

.wpg-block--raw-29 {
  grid-row: auto/span 29; }

.wpg-block--raw-30 {
  grid-row: auto/span 30; }

.wpg-block--col-1 {
  grid-column: auto/span 1; }

.wpg-block--col-2 {
  grid-column: auto/span 2; }

.wpg-block--col-3 {
  grid-column: auto/span 3; }

.wpg-block--col-4 {
  grid-column: auto/span 4; }

.wpg-block--col-5 {
  grid-column: auto/span 5; }

.wpg-block--col-6 {
  grid-column: auto/span 6; }

.wpg-block--col-7 {
  grid-column: auto/span 7; }

.wpg-block--col-8 {
  grid-column: auto/span 8; }

.wpg-block--col-9 {
  grid-column: auto/span 9; }

.wpg-block--col-10 {
  grid-column: auto/span 10; }

.wpg-block--col-11 {
  grid-column: auto/span 11; }

.wpg-block--col-12 {
  grid-column: auto/span 12; }

.wpg-block--col-13 {
  grid-column: auto/span 13; }

.wpg-block--col-14 {
  grid-column: auto/span 14; }

.wpg-block--col-15 {
  grid-column: auto/span 15; }

.wpg-block--col-16 {
  grid-column: auto/span 16; }

.wpg-block--col-17 {
  grid-column: auto/span 17; }

.wpg-block--col-18 {
  grid-column: auto/span 18; }

.wpg-block--col-19 {
  grid-column: auto/span 19; }

.wpg-block--col-20 {
  grid-column: auto/span 20; }

.wpg-block--col-21 {
  grid-column: auto/span 21; }

.wpg-block--col-22 {
  grid-column: auto/span 22; }

.wpg-block--col-23 {
  grid-column: auto/span 23; }

.wpg-block--col-24 {
  grid-column: auto/span 24; }

.wpg-block--col-25 {
  grid-column: auto/span 25; }

.wpg-block--col-26 {
  grid-column: auto/span 26; }

.wpg-block--col-27 {
  grid-column: auto/span 27; }

.wpg-block--col-28 {
  grid-column: auto/span 28; }

.wpg-block--col-29 {
  grid-column: auto/span 29; }

.wpg-block--col-30 {
  grid-column: auto/span 30; }

.wpg-block--row-start-1 {
  grid-row-start: 1; }

.wpg-block--row-start-2 {
  grid-row-start: 2; }

.wpg-block--row-start-3 {
  grid-row-start: 3; }

.wpg-block--row-start-4 {
  grid-row-start: 4; }

.wpg-block--row-start-5 {
  grid-row-start: 5; }

.wpg-block--row-start-6 {
  grid-row-start: 6; }

.wpg-block--row-start-7 {
  grid-row-start: 7; }

.wpg-block--row-start-8 {
  grid-row-start: 8; }

.wpg-block--row-start-9 {
  grid-row-start: 9; }

.wpg-block--row-start-10 {
  grid-row-start: 10; }

.wpg-block--row-start-11 {
  grid-row-start: 11; }

.wpg-block--row-start-12 {
  grid-row-start: 12; }

.wpg-block--row-start-13 {
  grid-row-start: 13; }

.wpg-block--row-start-14 {
  grid-row-start: 14; }

.wpg-block--row-start-15 {
  grid-row-start: 15; }

.wpg-block--row-start-16 {
  grid-row-start: 16; }

.wpg-block--row-start-17 {
  grid-row-start: 17; }

.wpg-block--row-start-18 {
  grid-row-start: 18; }

.wpg-block--row-start-19 {
  grid-row-start: 19; }

.wpg-block--row-start-20 {
  grid-row-start: 20; }

.wpg-block--row-start-21 {
  grid-row-start: 21; }

.wpg-block--row-start-22 {
  grid-row-start: 22; }

.wpg-block--row-start-23 {
  grid-row-start: 23; }

.wpg-block--row-start-24 {
  grid-row-start: 24; }

.wpg-block--row-start-25 {
  grid-row-start: 25; }

.wpg-block--row-start-26 {
  grid-row-start: 26; }

.wpg-block--row-start-27 {
  grid-row-start: 27; }

.wpg-block--row-start-28 {
  grid-row-start: 28; }

.wpg-block--row-start-29 {
  grid-row-start: 29; }

.wpg-block--row-start-30 {
  grid-row-start: 30; }

.wpg-block--col-start-1 {
  grid-column-start: 1; }

.wpg-block--col-start-2 {
  grid-column-start: 2; }

.wpg-block--col-start-3 {
  grid-column-start: 3; }

.wpg-block--col-start-4 {
  grid-column-start: 4; }

.wpg-block--col-start-5 {
  grid-column-start: 5; }

.wpg-block--col-start-6 {
  grid-column-start: 6; }

.wpg-block--col-start-7 {
  grid-column-start: 7; }

.wpg-block--col-start-8 {
  grid-column-start: 8; }

.wpg-block--col-start-9 {
  grid-column-start: 9; }

.wpg-block--col-start-10 {
  grid-column-start: 10; }

.wpg-block--col-start-11 {
  grid-column-start: 11; }

.wpg-block--col-start-12 {
  grid-column-start: 12; }

.wpg-block--col-start-13 {
  grid-column-start: 13; }

.wpg-block--col-start-14 {
  grid-column-start: 14; }

.wpg-block--col-start-15 {
  grid-column-start: 15; }

.wpg-block--col-start-16 {
  grid-column-start: 16; }

.wpg-block--col-start-17 {
  grid-column-start: 17; }

.wpg-block--col-start-18 {
  grid-column-start: 18; }

.wpg-block--col-start-19 {
  grid-column-start: 19; }

.wpg-block--col-start-20 {
  grid-column-start: 20; }

.wpg-block--col-start-21 {
  grid-column-start: 21; }

.wpg-block--col-start-22 {
  grid-column-start: 22; }

.wpg-block--col-start-23 {
  grid-column-start: 23; }

.wpg-block--col-start-24 {
  grid-column-start: 24; }

.wpg-block--col-start-25 {
  grid-column-start: 25; }

.wpg-block--col-start-26 {
  grid-column-start: 26; }

.wpg-block--col-start-27 {
  grid-column-start: 27; }

.wpg-block--col-start-28 {
  grid-column-start: 28; }

.wpg-block--col-start-29 {
  grid-column-start: 29; }

.wpg-block--col-start-30 {
  grid-column-start: 30; }
