$wRowsRepeat: 60 !default;
$wColumnsRepeat: $wRowsRepeat !default;
$wContainerGutter: 1rem !default;
$wContainerBgColor: rgba(0,0,0,0) !default;
$wContainerBgURL:'' !default;

[class*="wcontainer"] {
  width: 100%;
  height: 100%;
  display: grid;
  background: url($wContainerBgURL) center / cover;
  background-color: $wContainerBgColor;
  grid-template-rows: repeat($wRowsRepeat, 1fr);
  grid-template-columns: repeat($wColumnsRepeat, 1fr);
  box-sizing: border-box;
}

.wcontainer--gutter {
  grid-gap: $wContainerGutter;
}

[class*="wblock"] {
  overflow: hidden;
  display: block;
  grid-row: auto / span 1;
  grid-column: auto / span 1;
}

@for $i from 1 through $wRowsRepeat {
  .wblock--raw-#{$i} {
    grid-row: auto / span $i;
  }
}

@for $i from 1 through $wColumnsRepeat {
  .wblock--col-#{$i} {
    grid-column: auto / span $i;
  }
}

@for $i from 1 through $wRowsRepeat {
  .wblock--row-start-#{$i} {
    grid-row-start: $i;
  }
}

@for $i from 1 through $wColumnsRepeat {
  .wblock--col-start-#{$i} {
    grid-column-start: $i;
  }
}
