$wpgRowsRepeat: 30 !default;
$wpgColumnsRepeat: $wpgRowsRepeat !default;
$wpgContainerGutter: 1rem !default;
$wpgContainerBgColor: rgba(0,0,0,0) !default;
$wpgContainerBgURL:'' !default;

[class*="wpg-container"] {
  width: 100%;
  height: 100%;
  display: grid;
  background: url($wpgContainerBgURL) center / cover;
  background-color: $wpgContainerBgColor;
  grid-template-rows: repeat($wpgRowsRepeat, 1fr);
  grid-template-columns: repeat($wpgColumnsRepeat, 1fr);
  box-sizing: border-box;
}

.wpg-container--gutter {
  grid-gap: $wpgContainerGutter;
}

[class*="wpg-block"] {
  overflow: hidden;
  display: grid;
  grid-row: auto / span 1;
  grid-column: auto / span 1;
}

@for $i from 1 through $wpgRowsRepeat {
  .wpg-block--raw-#{$i} {
    grid-row: auto / span $i;
  }
}

@for $i from 1 through $wpgColumnsRepeat {
  .wpg-block--col-#{$i} {
    grid-column: auto / span $i;
  }
}

@for $i from 1 through $wpgRowsRepeat {
  .wpg-block--row-start-#{$i} {
    grid-row-start: $i;
  }
}

@for $i from 1 through $wpgColumnsRepeat {
  .wpg-block--col-start-#{$i} {
    grid-column-start: $i;
  }
}
